/* Welcome to Susy. Use this file to define screen styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" /> */
/* Reset --------------------------------------------------------------*/
/* line 14, /Users/rap/.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, /Users/rap/.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, /Users/rap/.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, /Users/rap/.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, /Users/rap/.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, /Users/rap/.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, /Users/rap/.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, /Users/rap/.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* HTML5 Reset --------------------------------------------------------------*/
/* line 107, /Users/rap/.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
section, article, aside, header, footer, nav, dialog, figure {
  display: block;
}

/* Body --------------------------------------------------------------*/
/* line 13, ../../app/stylesheets/_defaults.scss */
body {
  font-family: 'Adobe Caslon Pro', Caslon, Baskerville, Palatino, 'Palatino Linotype', "Hoefler Text", Garamond, "URW Palladio L", "Book Antiqua", Georgia, serif;
  color: #4c4c4c;
}

/* Links --------------------------------------------------------------*/
/* line 21, ../../app/stylesheets/_defaults.scss */
a:link, a:visited {
  color: #005498;
}
/* line 24, ../../app/stylesheets/_defaults.scss */
a:focus, a:hover, a:active {
  color: #00467f;
  text-decoration: none;
}
/* line 28, ../../app/stylesheets/_defaults.scss */
a img {
  border: none;
}

/* Headings --------------------------------------------------------------*/
/* line 35, ../../app/stylesheets/_defaults.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
/* line 37, ../../app/stylesheets/_defaults.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 42, ../../app/stylesheets/_defaults.scss */
h1 {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 0.5em;
}

/* line 47, ../../app/stylesheets/_defaults.scss */
h2 {
  font-size: 2em;
  line-height: 1.5em;
  margin-bottom: 0.75em;
}

/* line 52, ../../app/stylesheets/_defaults.scss */
h3 {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 1em;
}

/* line 57, ../../app/stylesheets/_defaults.scss */
h4 {
  font-size: 1.125em;
  line-height: 1.333em;
  margin-bottom: 1.333em;
}

/* line 62, ../../app/stylesheets/_defaults.scss */
h5, h6 {
  margin-bottom: 1.5em;
  font-weight: bold;
}

/* Text --------------------------------------------------------------*/
/* line 69, ../../app/stylesheets/_defaults.scss */
cite, em, dfn {
  font-style: italic;
}

/* line 73, ../../app/stylesheets/_defaults.scss */
strong, dfn {
  font-weight: bold;
}

/* line 77, ../../app/stylesheets/_defaults.scss */
sup, sub {
  line-height: 0;
}

/* line 81, ../../app/stylesheets/_defaults.scss */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 86, ../../app/stylesheets/_defaults.scss */
address {
  margin-bottom: 1.5em;
  font-style: italic;
}

/* line 91, ../../app/stylesheets/_defaults.scss */
ins {
  text-decoration: underline;
}

/* line 95, ../../app/stylesheets/_defaults.scss */
del {
  text-decoration: line-through;
}

/* line 99, ../../app/stylesheets/_defaults.scss */
pre, code, tt {
  margin: 1.5em;
  margin-left: -1.5em;
  padding-left: 1.5em;
  border-left: 1px dotted;
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}

/* line 108, ../../app/stylesheets/_defaults.scss */
pre {
  white-space: pre;
}

/* line 112, ../../app/stylesheets/_defaults.scss */
code {
  display: block;
}

/* line 116, ../../app/stylesheets/_defaults.scss */
q {
  font-style: italic;
}
/* line 118, ../../app/stylesheets/_defaults.scss */
q em {
  font-style: normal;
}

/* line 123, ../../app/stylesheets/_defaults.scss */
p {
  margin-bottom: 1.5em;
}

/* line 127, ../../app/stylesheets/_defaults.scss */
blockquote, q {
  quotes: "" "";
}

/* line 131, ../../app/stylesheets/_defaults.scss */
blockquote {
  margin: 1.5em;
  margin-left: -1.5em;
  padding-left: 1.5em;
  border-left: 1px solid;
  font-family: 'Adobe Caslon Pro', Caslon, Baskerville, Palatino, 'Palatino Linotype', "Hoefler Text", Garamond, "URW Palladio L", "Book Antiqua", Georgia, serif;
  font-style: italic;
}

/* line 142, ../../app/stylesheets/_defaults.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* Replaced --------------------------------------------------------------*/
/* line 149, ../../app/stylesheets/_defaults.scss */
img {
  vertical-align: bottom;
}

/* Lists --------------------------------------------------------------*/
/* line 171, ../../app/stylesheets/_defaults.scss */
ol {
  margin: 0 1.5em 1.5em 0;
  list-style: decimal;
}

/* line 175, ../../app/stylesheets/_defaults.scss */
ul {
  margin: 0 1.5em 1.5em 0;
  list-style: disc;
}

/* line 180, ../../app/stylesheets/_defaults.scss */
li ul, li ol {
  list-style-type: circle;
  margin: 0 1.5em 0.75em;
}

/* line 186, ../../app/stylesheets/_defaults.scss */
dl {
  margin-bottom: 1.5em;
  border-top-style: solid;
  border-top-width: 0.063em;
  padding-top: 1.438em;
}
/* line 189, ../../app/stylesheets/_defaults.scss */
dl dt {
  font-size: 1.125em;
  line-height: 1.333em;
  margin-bottom: 0.667em;
}

/* line 195, ../../app/stylesheets/_defaults.scss */
dd {
  margin-bottom: 1.5em;
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 1.438em;
}

/* Tables --------------------------------------------------------------*/
/* tables still need 'cellspacing="0"' in the markup */
/* line 203, ../../app/stylesheets/_defaults.scss */
table {
  margin-bottom: 1.5em;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* line 210, ../../app/stylesheets/_defaults.scss */
table, td, th {
  vertical-align: top;
}

/* line 214, ../../app/stylesheets/_defaults.scss */
th, thead th {
  font-weight: bold;
}

/* line 218, ../../app/stylesheets/_defaults.scss */
th, td, caption {
  padding: 0.75em;
  text-align: left;
  font-weight: normal;
}

/* line 224, ../../app/stylesheets/_defaults.scss */
th, td {
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 0.688em;
}

/* line 228, ../../app/stylesheets/_defaults.scss */
tfoot {
  font-size: 0.875em;
  line-height: 1.714em;
}

/* line 232, ../../app/stylesheets/_defaults.scss */
caption {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 1em;
}

/* Forms --------------------------------------------------------------*/
/* line 239, ../../app/stylesheets/_defaults.scss */
fieldset {
  margin-bottom: 1.5em;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
}

/* line 244, ../../app/stylesheets/_defaults.scss */
legend {
  font-size: 1.125em;
  line-height: 1.333em;
  font-weight: bold;
}

/* line 249, ../../app/stylesheets/_defaults.scss */
label {
  font-weight: bold;
}

/* line 253, ../../app/stylesheets/_defaults.scss */
textarea, input:not([type="radio"]) {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

/* Layout --------------------------------------------------------------*/
/* line 29, /Users/rap/.rvm/gems/ree-1.8.7-2010.02/gems/compass-susy-plugin-0.7.0/sass/susy/././_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 33, /Users/rap/.rvm/gems/ree-1.8.7-2010.02/gems/compass-susy-plugin-0.7.0/sass/susy/././_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

/* line 18, /Users/rap/.rvm/gems/ree-1.8.7-2010.02/gems/compass-susy-plugin-0.7.0/sass/susy/_susy.scss */
body {
  text-align: center;
}

/* line 19, ../../app/stylesheets/screen.scss */
body {
  background-image: url("/images/paper-texture.jpg");
}

/* line 23, ../../app/stylesheets/screen.scss */
img {
  border: 0;
}

/* line 25, ../../app/stylesheets/screen.scss */
#page {
  overflow: hidden;
  *zoom: 1;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 61em;
  max-width: 100%;
  width: 100%;
  position: relative;
}

/* line 37, ../../app/stylesheets/screen.scss */
.headline {
  font-size: 1.2em;
  font-weight: bold;
}

/* line 41, ../../app/stylesheets/screen.scss */
#footer {
  font-size: 0.8em;
}

/* Styles --------------------------------------------------------------*/
/* line 47, ../../app/stylesheets/screen.scss */
.rack {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
}
/* line 50, ../../app/stylesheets/screen.scss */
.rack h1, .rack h2, .rack h3 {
  font-weight: bold;
}
/* line 53, ../../app/stylesheets/screen.scss */
.rack h1 {
  font-size: 3em;
  text-transform: uppercase;
}
/* line 57, ../../app/stylesheets/screen.scss */
.rack h2 {
  font-size: 1.5em;
  text-transform: uppercase;
}
/* line 61, ../../app/stylesheets/screen.scss */
.rack h3 {
  font-size: 1.25em;
  text-transform: uppercase;
}
/* line 65, ../../app/stylesheets/screen.scss */
.rack h3.action {
  display: inline;
}
/* line 68, ../../app/stylesheets/screen.scss */
.rack img.stretch {
  width: 100%;
  max-width: 100%;
}
/* line 72, ../../app/stylesheets/screen.scss */
.rack .copy {
  clear: left;
  margin: 1em 8px 2em 8px;
}
/* line 76, ../../app/stylesheets/screen.scss */
.rack .panel {
  position: relative;
}
/* line 79, ../../app/stylesheets/screen.scss */
.rack .section {
  width: 50%;
  float: left;
  overflow: hidden;
}
/* line 83, ../../app/stylesheets/screen.scss */
.rack .section .mount {
  float: left;
}
/* line 85, ../../app/stylesheets/screen.scss */
.rack .section .mount .panel {
  position: relative;
  display: block;
  float: left;
  overflow: hidden;
}
/* line 90, ../../app/stylesheets/screen.scss */
.rack .section .mount .panel .copy {
  overflow: hidden;
  margin: 16px 6.25% 0 6.25%;
}
/* line 94, ../../app/stylesheets/screen.scss */
.rack .section .mount .panel .copy.top {
  position: absolute;
  top: 0;
}
/* line 98, ../../app/stylesheets/screen.scss */
.rack .section .mount .panel .copy.bottom {
  position: absolute;
  bottom: 0;
}
/* line 102, ../../app/stylesheets/screen.scss */
.rack .section .mount .panel .copy.right {
  right: 0;
}
/* line 105, ../../app/stylesheets/screen.scss */
.rack .section .mount .panel .panel .bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.1;
  z-index: -1;
}
/* line 115, ../../app/stylesheets/screen.scss */
.rack .section .mount .panel .copy.coupon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1.25ex dashed grey;
  margin-bottom: 16px;
}
/* line 126, ../../app/stylesheets/screen.scss */
.rack .section .mount.square {
  width: 100%;
}
/* line 128, ../../app/stylesheets/screen.scss */
.rack .section .mount.square .panel.square, .rack .section .mount.square .panel.portrait {
  width: 50%;
}
/* line 130, ../../app/stylesheets/screen.scss */
.rack .section .mount.square .panel.square .spacer-1-1, .rack .section .mount.square .panel.portrait .spacer-1-1 {
  opacity: 0;
  width: 100%;
}
/* line 134, ../../app/stylesheets/screen.scss */
.rack .section .mount.square .panel.square .spacer-1-2, .rack .section .mount.square .panel.portrait .spacer-1-2 {
  opacity: 0;
  width: 100%;
}
/* line 139, ../../app/stylesheets/screen.scss */
.rack .section .mount.square .panel.landscape {
  width: 100%;
}
/* line 141, ../../app/stylesheets/screen.scss */
.rack .section .mount.square .panel.landscape .spacer-1-1 {
  opacity: 0;
  width: 50%;
}
/* line 145, ../../app/stylesheets/screen.scss */
.rack .section .mount.square .panel.landscape .spacer-1-2 {
  opacity: 0;
  width: 50%;
}
/* line 149, ../../app/stylesheets/screen.scss */
.rack .section .mount.square .panel.landscape .spacer-2-1 {
  opacity: 0;
  width: 100%;
}
/* line 155, ../../app/stylesheets/screen.scss */
.rack .section .mount.flexible {
  width: 100%;
}
/* line 157, ../../app/stylesheets/screen.scss */
.rack .section .mount.flexible .panel.square {
  width: 50%;
}
/* line 162, ../../app/stylesheets/screen.scss */
.rack .header, .rack .footer {
  float: left;
  width: 100%;
}
/* line 164, ../../app/stylesheets/screen.scss */
.rack .header .panel, .rack .footer .panel {
  float: left;
}
/* line 167, ../../app/stylesheets/screen.scss */
.rack .header .panel.landscape, .rack .footer .panel.landscape {
  float: right;
}
/* line 171, ../../app/stylesheets/screen.scss */
.rack .header .panel.landscape, .rack .footer .panel.landscape {
  width: 50%;
}
/* line 174, ../../app/stylesheets/screen.scss */
.rack .header .copy, .rack .footer .copy {
  margin: 16px 3.125% 16px 3.125%;
  position: absolute;
  bottom: 0;
}
/* line 178, ../../app/stylesheets/screen.scss */
.rack .header .copy h1, .rack .header .copy h2, .rack .header .copy h3, .rack .footer .copy h1, .rack .footer .copy h2, .rack .footer .copy h3 {
  margin-bottom: 0;
}
/* line 182, ../../app/stylesheets/screen.scss */
.rack .header .panel.auto-width, .rack .footer .panel.auto-width {
  position: relative;
  float: left;
  width: 50%;
}
/* line 186, ../../app/stylesheets/screen.scss */
.rack .header .panel.auto-width .spacer-3-1, .rack .footer .panel.auto-width .spacer-3-1 {
  display: none;
}
/* line 189, ../../app/stylesheets/screen.scss */
.rack .header .panel.auto-width .spacer-2-1, .rack .footer .panel.auto-width .spacer-2-1 {
  display: block;
}
/* line 192, ../../app/stylesheets/screen.scss */
.rack .header .panel.auto-width .spacer-1-1, .rack .footer .panel.auto-width .spacer-1-1 {
  display: none;
}
/* line 196, ../../app/stylesheets/screen.scss */
.rack .header .panel.title .bg, .rack .footer .panel.title .bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.2;
  z-index: -1;
  margin: 8px 1.5625% 8px 1.5625%;
}
/* line 208, ../../app/stylesheets/screen.scss */
.rack ul {
  margin: 0;
  list-style-type: none;
}
/* line 212, ../../app/stylesheets/screen.scss */
.rack .row {
  float: left;
  width: 100%;
}
/* line 214, ../../app/stylesheets/screen.scss */
.rack .row .panel {
  float: left;
}
/* line 217, ../../app/stylesheets/screen.scss */
.rack .row .panel.square {
  float: right;
}
/* line 221, ../../app/stylesheets/screen.scss */
.rack .row .panel.landscape {
  width: 50%;
}
/* line 224, ../../app/stylesheets/screen.scss */
.rack .row .copy {
  margin: 16px 3.125% 16px 3.125%;
}
/* line 226, ../../app/stylesheets/screen.scss */
.rack .row .copy h1 {
  margin-bottom: 0;
}
/* line 229, ../../app/stylesheets/screen.scss */
.rack .row .copy h2 {
  margin-bottom: 0;
}
/* line 233, ../../app/stylesheets/screen.scss */
.rack .row .copy.top {
  position: absolute;
  top: 0;
}
/* line 237, ../../app/stylesheets/screen.scss */
.rack .row .copy.bottom {
  position: absolute;
  bottom: 0;
}
/* line 241, ../../app/stylesheets/screen.scss */
.rack .row .copy.right {
  right: 0;
}
/* line 244, ../../app/stylesheets/screen.scss */
.rack .row .panel.auto-width {
  float: left;
  width: 75%;
}
/* line 247, ../../app/stylesheets/screen.scss */
.rack .row .panel.auto-width .spacer-3-1 {
  display: block;
}
/* line 250, ../../app/stylesheets/screen.scss */
.rack .row .panel.auto-width .spacer-2-1 {
  display: none;
}
/* line 253, ../../app/stylesheets/screen.scss */
.rack .row .panel.auto-width .spacer-1-1 {
  display: none;
}
/* line 256, ../../app/stylesheets/screen.scss */
.rack .row .panel.auto-width .body {
  margin: 16px 3.125% 16px 3.125%;
}
/* line 260, ../../app/stylesheets/screen.scss */
.rack .row .panel.square {
  width: 25%;
}

/* Width adaptations --------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  /* line 271, ../../app/stylesheets/screen.scss */
  .rack .section {
    width: 100%;
  }
  /* line 273, ../../app/stylesheets/screen.scss */
  .rack .section .mount.square {
    width: 66.7%;
  }
  /* line 275, ../../app/stylesheets/screen.scss */
  .rack .section .mount.square .panel.square, .rack .section .mount.square .panel.portrait {
    width: 50%;
  }
  /* line 278, ../../app/stylesheets/screen.scss */
  .rack .section .mount.square .panel.landscape {
    width: 100%;
  }
  /* line 282, ../../app/stylesheets/screen.scss */
  .rack .section .mount.flexible {
    width: 33.4%;
  }
  /* line 284, ../../app/stylesheets/screen.scss */
  .rack .section .mount.flexible .panel.square {
    width: 100%;
  }
  /* line 289, ../../app/stylesheets/screen.scss */
  .rack .header {
    width: 100%;
  }
  /* line 291, ../../app/stylesheets/screen.scss */
  .rack .header .copy {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    margin: 16px 3.125% 16px 3.125%;
  }
  /* line 297, ../../app/stylesheets/screen.scss */
  .rack .header .panel.landscape {
    width: 66.7%;
  }
  /* line 300, ../../app/stylesheets/screen.scss */
  .rack .header .panel.auto-width {
    width: 33.4%;
  }
  /* line 302, ../../app/stylesheets/screen.scss */
  .rack .header .panel.auto-width .spacer-3-1 {
    display: none;
  }
  /* line 305, ../../app/stylesheets/screen.scss */
  .rack .header .panel.auto-width .spacer-2-1 {
    display: none;
  }
  /* line 308, ../../app/stylesheets/screen.scss */
  .rack .header .panel.auto-width .spacer-1-1 {
    display: block;
  }
  /* line 314, ../../app/stylesheets/screen.scss */
  .rack .row .panel.auto-width {
    width: 66.7%;
  }
  /* line 316, ../../app/stylesheets/screen.scss */
  .rack .row .panel.auto-width .spacer-3-1 {
    display: none;
  }
  /* line 319, ../../app/stylesheets/screen.scss */
  .rack .row .panel.auto-width .spacer-2-1 {
    display: block;
  }
  /* line 322, ../../app/stylesheets/screen.scss */
  .rack .row .panel.auto-width .spacer-1-1 {
    display: none;
  }
  /* line 326, ../../app/stylesheets/screen.scss */
  .rack .row .panel.square {
    width: 33.4%;
  }
}

@media screen and (max-width: 512px) {
  /* line 335, ../../app/stylesheets/screen.scss */
  .rack .section {
    width: 100%;
  }
  /* line 337, ../../app/stylesheets/screen.scss */
  .rack .section .mount {
    float: left;
  }
  /* line 339, ../../app/stylesheets/screen.scss */
  .rack .section .mount .panel {
    display: block;
    float: left;
  }
  /* line 342, ../../app/stylesheets/screen.scss */
  .rack .section .mount .panel img {
    width: 100%;
    max-width: 100%;
  }
  /* line 348, ../../app/stylesheets/screen.scss */
  .rack .section .mount.square {
    width: 100%;
  }
  /* line 350, ../../app/stylesheets/screen.scss */
  .rack .section .mount.square .panel.square, .rack .section .mount.square .panel.portrait {
    width: 50%;
  }
  /* line 353, ../../app/stylesheets/screen.scss */
  .rack .section .mount.square .panel.landscape {
    width: 100%;
  }
  /* line 357, ../../app/stylesheets/screen.scss */
  .rack .section .mount.flexible {
    width: 100%;
  }
  /* line 359, ../../app/stylesheets/screen.scss */
  .rack .section .mount.flexible .panel.square {
    width: 50%;
  }
  /* line 364, ../../app/stylesheets/screen.scss */
  .rack .header {
    width: 100%;
  }
  /* line 366, ../../app/stylesheets/screen.scss */
  .rack .header .panel.landscape {
    width: 100%;
  }
  /* line 369, ../../app/stylesheets/screen.scss */
  .rack .header .panel.auto-width {
    width: 100%;
  }
  /* line 371, ../../app/stylesheets/screen.scss */
  .rack .header .panel.auto-width .spacer-3-1 {
    display: none;
  }
  /* line 374, ../../app/stylesheets/screen.scss */
  .rack .header .panel.auto-width .spacer-2-1 {
    display: block;
  }
  /* line 377, ../../app/stylesheets/screen.scss */
  .rack .header .panel.auto-width .spacer-1-1 {
    display: none;
  }
  /* line 383, ../../app/stylesheets/screen.scss */
  .rack .row .panel.auto-width {
    width: 50%;
  }
  /* line 385, ../../app/stylesheets/screen.scss */
  .rack .row .panel.auto-width .spacer-3-1 {
    display: none;
  }
  /* line 388, ../../app/stylesheets/screen.scss */
  .rack .row .panel.auto-width .spacer-2-1 {
    display: none;
  }
  /* line 391, ../../app/stylesheets/screen.scss */
  .rack .row .panel.auto-width .spacer-1-1 {
    display: block;
  }
  /* line 395, ../../app/stylesheets/screen.scss */
  .rack .row .panel.square {
    width: 50%;
  }
}

/* line 402, ../../app/stylesheets/screen.scss */
form.formtastic fieldset.inputs {
  margin-bottom: 2em;
}

@media screen and (min-width: 320px) {
  /* line 2, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 11px;
    line-height: 15px;
  }
}

@media screen and (min-width: 336px) {
  /* line 8, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 12px;
    line-height: 16px;
  }
}

@media screen and (min-width: 352px) {
  /* line 14, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 12px;
    line-height: 17px;
  }
}

@media screen and (min-width: 368px) {
  /* line 20, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 13px;
    line-height: 17px;
  }
}

@media screen and (min-width: 384px) {
  /* line 26, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (min-width: 400px) {
  /* line 32, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 14px;
    line-height: 19px;
  }
}

@media screen and (min-width: 416px) {
  /* line 38, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 15px;
    line-height: 20px;
  }
}

@media screen and (min-width: 432px) {
  /* line 44, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 15px;
    line-height: 20px;
  }
}

@media screen and (min-width: 448px) {
  /* line 50, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 16px;
    line-height: 21px;
  }
}

@media screen and (min-width: 464px) {
  /* line 56, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (min-width: 480px) {
  /* line 62, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 17px;
    line-height: 23px;
  }
}

@media screen and (min-width: 481px) {
  /* line 68, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 17px;
    line-height: 23px;
  }
}

@media screen and (min-width: 496px) {
  /* line 74, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 17px;
    line-height: 23px;
  }
}

@media screen and (min-width: 512px) {
  /* line 80, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (min-width: 513px) {
  /* line 86, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 12px;
    line-height: 16px;
  }
}

@media screen and (min-width: 532px) {
  /* line 92, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 12px;
    line-height: 17px;
  }
}

@media screen and (min-width: 548px) {
  /* line 98, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 13px;
    line-height: 17px;
  }
}

@media screen and (min-width: 564px) {
  /* line 104, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 13px;
    line-height: 18px;
  }
}

@media screen and (min-width: 580px) {
  /* line 110, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (min-width: 596px) {
  /* line 116, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 14px;
    line-height: 19px;
  }
}

@media screen and (min-width: 612px) {
  /* line 122, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 14px;
    line-height: 19px;
  }
}

@media screen and (min-width: 628px) {
  /* line 128, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 15px;
    line-height: 20px;
  }
}

@media screen and (min-width: 644px) {
  /* line 134, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 15px;
    line-height: 20px;
  }
}

@media screen and (min-width: 660px) {
  /* line 140, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 15px;
    line-height: 21px;
  }
}

@media screen and (min-width: 676px) {
  /* line 146, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 16px;
    line-height: 21px;
  }
}

@media screen and (min-width: 692px) {
  /* line 152, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (min-width: 708px) {
  /* line 158, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 17px;
    line-height: 22px;
  }
}

@media screen and (min-width: 724px) {
  /* line 164, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 17px;
    line-height: 23px;
  }
}

@media screen and (min-width: 740px) {
  /* line 170, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 17px;
    line-height: 23px;
  }
}

@media screen and (min-width: 756px) {
  /* line 176, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (min-width: 768px) {
  /* line 182, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (min-width: 769px) {
  /* line 188, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (min-width: 780px) {
  /* line 194, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (min-width: 796px) {
  /* line 200, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 14px;
    line-height: 19px;
  }
}

@media screen and (min-width: 812px) {
  /* line 206, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 14px;
    line-height: 19px;
  }
}

@media screen and (min-width: 828px) {
  /* line 212, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 15px;
    line-height: 19px;
  }
}

@media screen and (min-width: 844px) {
  /* line 218, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 15px;
    line-height: 20px;
  }
}

@media screen and (min-width: 860px) {
  /* line 224, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 15px;
    line-height: 20px;
  }
}

@media screen and (min-width: 876px) {
  /* line 230, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 15px;
    line-height: 21px;
  }
}

@media screen and (min-width: 892px) {
  /* line 236, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 16px;
    line-height: 21px;
  }
}

@media screen and (min-width: 908px) {
  /* line 242, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 16px;
    line-height: 21px;
  }
}

@media screen and (min-width: 924px) {
  /* line 248, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (min-width: 940px) {
  /* line 254, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 17px;
    line-height: 22px;
  }
}

@media screen and (min-width: 956px) {
  /* line 260, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 17px;
    line-height: 22px;
  }
}

@media screen and (min-width: 960px) {
  /* line 266, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 17px;
    line-height: 23px;
  }
}

@media screen and (min-width: 961px) {
  /* line 272, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 17px;
    line-height: 23px;
  }
}

@media screen and (min-width: 980px) {
  /* line 278, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 17px;
    line-height: 23px;
  }
}

@media screen and (min-width: 996px) {
  /* line 284, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 18px;
    line-height: 23px;
  }
}

@media screen and (min-width: 1012px) {
  /* line 290, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1024px) {
  /* line 296, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1225px) {
  /* line 302, ../../app/stylesheets/_font_adjustments.scss */
  html > body {
    font-size: 22px;
    line-height: 29px;
  }
}

/* ----- Not working due to a possible bug in the @media directive.

$base_width: 960px;
$base_column_width: $base_width / 4;
$font_size: 18px;
$line_height: 24px;

$current_width: $base_width;
@while $current_width > 360 {
  $current_width: $current_width - $font_size;
}

@while $current_width < 2048 {
  $current_width: $current_width + $font_size;
  $columns: 4;
  @if ($current_width <= 512) { $columns: 2; }
  @if ($current_width > 512 and $current_width <= 768) { $columns: 3; }
  $column_width: $current_width / $columns;

  @media screen and (min-width: $current_width) {
    html > body {
      font-size: $column_width * $font_size / $base_column_width;
      line-height: $column_width * $line_height / $base_column_width;
    }
  }
}

   ----- Not working due to a possible bug in the @media directive. */
/* Device adaptations --------------------------------------------------------------*/
@media screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation:portrait) {
  /* line 443, ../../app/stylesheets/screen.scss */
  #page {
    /*    font-size: 14px;
        line-height: 22px;
    */
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation:landscape) {
  /* line 451, ../../app/stylesheets/screen.scss */
  #page {
    /*    font-size: 14px;
        line-height: 22px;
    */
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* line 459, ../../app/stylesheets/screen.scss */
  #page {
    /*    font-size: 14px;
        line-height: 22px;
    */
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* line 467, ../../app/stylesheets/screen.scss */
  #page {
    /*    font-size: 14px;
        line-height: 22px;
    */
  }
}
