/* line 5, ../../app/stylesheets/style.sass */
body.one-column #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
}
/* line 8, ../../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
body.one-column #container {
  display: block;
}
/* line 7, ../../app/stylesheets/style.sass */
body.one-column #header, body.one-column #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 138, ../../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.one-column #header, * html body.one-column #footer {
  overflow-x: hidden;
}
/* line 9, ../../app/stylesheets/style.sass */
body.one-column #sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 138, ../../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.one-column #sidebar {
  overflow-x: hidden;
}
/* line 13, ../../app/stylesheets/style.sass */
body.one-column #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 138, ../../../../.rvm/gems/ree-1.8.7-2010.02/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.one-column #content {
  overflow-x: hidden;
}
