/* Welcome to Susy. Use this file to define screen styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" /> */

// Imports --------------------------------------------------------------*/

@import "defaults";

/* Layout --------------------------------------------------------------*/

@include susy;

body {
/*  background-image: url('/images/layout-devices.png');*/
  background-repeat: no-repeat;
}

#page {
  @include container;
  width: 100%; // Always go to the full width of the available page.
}

/* Styles --------------------------------------------------------------*/

.rack {
  @include clearfix;
  width: 100.75%;

  .section {
    width: 50%;
    float: left;
    overflow: hidden;
    .mount {
      float: left;
      .tile {
        display: block;
        float: left;
        img {
          width: 100.75%;
          max-width: 100.75%;
        }
      }
    }
    .mount.square {
      width: 100.75%;
      .tile.square, .tile.portrait {
        width: 50%;
      }
      .tile.landscape {
        width: 100%;
      }
    }
    .mount.flexible {
      width: 100.75%;
      .tile.square {
        width: 50%;
      }
    }
  }
}


/* Width adaptations --------------------------------------------------------------*/

@media screen and (max-width: 768px) {
  .rack {
    .section {
      width: 100%;
      .mount.square {
        width: 66.6666666666%;
        .tile.square, .tile.portrait {
          width: 50%;
        }
        .tile.landscape {
          width: 100%;
        }
      }
      .mount.flexible {
        width: 33.3333333333%;
        .tile.square {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 512px) {
  .rack {
    .section {
      width: 100%;
      .mount {
        float: left;
        .tile {
          display: block;
          float: left;
          img {
            width: 100%;
            max-width: 100%;
          }
        }
      }
      .mount.square {
        width: 100%;
        .tile.square, .tile.portrait {
          width: 50%;
        }
        .tile.landscape {
          width: 100%;
        }
      }
      .mount.flexible {
        width: 100%;
        .tile.square {
          width: 50%;
        }
      }
    }
  }
}

/* Device adaptations --------------------------------------------------------------*/

// iPhone, portrait
@media screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation:portrait) {
  #page {
/*    font-size: 14px;
    line-height: 22px;
*/  }
}

// iPhone, landscape
@media screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation:landscape) {
  #page {
/*    font-size: 14px;
    line-height: 22px;
*/  }
}

// iPad, portrait
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  #page {
/*    font-size: 14px;
    line-height: 22px;
*/  }
}

// iPad, landscape
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  #page {
/*    font-size: 14px;
    line-height: 22px;
*/  }
}
