/* Welcome to Susy. Use this file to define screen styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" /> */

// Imports --------------------------------------------------------------*/

@import "defaults";

/* Layout --------------------------------------------------------------*/

@include susy;

body {
/*  background-image: url('/images/layout-devices.png');*/
  background-repeat: no-repeat;
}

#page {
  @include container;

  // Always go to the full width of the available page.
  width: 100%;
  
  // The above will always introduce rounding errors unless the total page
  // width is divisible by four.  Some jQuery code will fix that when
  // necessary by setting an exact pixel width and an offset.
  position: relative;
/*  width: 992px;
  left: 0px;
*/
}

/* Styles --------------------------------------------------------------*/

.rack {
  @include clearfix;
  width: 100%;

  .section {
    width: 50%;
    float: left;
    overflow: hidden;
    .mount {
      float: left;
      .tile {
        position: relative;
        display: block;
        float: left;
        overflow: hidden;
        img {
          width: 100%;
          max-width: 100%;
        }
        p {
          overflow: hidden;
          position: absolute;
          top: 0;
          margin: 16px 6.25% 0 6.25%; // 16px at 1024px total page width. (256 * 0.0625)
        }
      }
    }
    .mount.square {
      width: 100%;
      .tile.square, .tile.portrait {
        width: 50%;
        .spacer-1-1 {
          width: 100%;
        }
        .spacer-1-2 {
          width: 100%;
        }
      }
      .tile.landscape {
        width: 100%;
        .spacer-1-1 {
          width: 50%;
        }
        .spacer-1-2 {
          width: 50%;
        }
        .spacer-2-1 {
          width: 100%;
        }
      }
    }
    .mount.flexible {
      width: 100%;
      .tile.square {
        width: 50%;
      }
    }
  }
}


/* Width adaptations --------------------------------------------------------------*/

@media screen and (max-width: 768px) {
  .rack {
    .section {
      width: 100%;
      .mount.square {
        width: 66.7%;
        .tile.square, .tile.portrait {
          width: 50%;
        }
        .tile.landscape {
          width: 100%;
        }
      }
      .mount.flexible {
        width: 33.4%;
        .tile.square {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 512px) {
  .rack {
    .section {
      width: 100%;
      .mount {
        float: left;
        .tile {
          display: block;
          float: left;
          img {
            width: 100%;
            max-width: 100%;
          }
        }
      }
      .mount.square {
        width: 100%;
        .tile.square, .tile.portrait {
          width: 50%;
        }
        .tile.landscape {
          width: 100%;
        }
      }
      .mount.flexible {
        width: 100%;
        .tile.square {
          width: 50%;
        }
      }
    }
  }
}


@media screen and (min-width: 348px) {
  html > body {
    font-size: 13px;
    line-height: 17px;
  }
}
@media screen and (min-width: 366px) {
  html > body {
    font-size: 14px;
    line-height: 18px;
  }
}
@media screen and (min-width: 384px) {
  html > body {
    font-size: 14px;
    line-height: 19px;
  }
}
@media screen and (min-width: 402px) {
  html > body {
    font-size: 15px;
    line-height: 20px;
  }
}
@media screen and (min-width: 420px) {
  html > body {
    font-size: 16px;
    line-height: 21px;
  }
}
@media screen and (min-width: 438px) {
  html > body {
    font-size: 16px;
    line-height: 22px;
  }
}
@media screen and (min-width: 456px) {
  html > body {
    font-size: 17px;
    line-height: 23px;
  }
}
@media screen and (min-width: 474px) {
  html > body {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (min-width: 492px) {
  html > body {
    font-size: 18px;
    line-height: 25px;
  }
}
@media screen and (min-width: 510px) {
  html > body {
    font-size: 19px;
    line-height: 26px;
  }
}
@media screen and (min-width: 528px) {
  html > body {
    font-size: 13px;
    line-height: 18px;
  }
}
@media screen and (min-width: 546px) {
  html > body {
    font-size: 14px;
    line-height: 18px;
  }
}
@media screen and (min-width: 564px) {
  html > body {
    font-size: 14px;
    line-height: 19px;
  }
}
@media screen and (min-width: 582px) {
  html > body {
    font-size: 15px;
    line-height: 19px;
  }
}
@media screen and (min-width: 600px) {
  html > body {
    font-size: 15px;
    line-height: 20px;
  }
}
@media screen and (min-width: 618px) {
  html > body {
    font-size: 15px;
    line-height: 21px;
  }
}
@media screen and (min-width: 636px) {
  html > body {
    font-size: 16px;
    line-height: 21px;
  }
}
@media screen and (min-width: 654px) {
  html > body {
    font-size: 16px;
    line-height: 22px;
  }
}
@media screen and (min-width: 672px) {
  html > body {
    font-size: 17px;
    line-height: 22px;
  }
}
@media screen and (min-width: 690px) {
  html > body {
    font-size: 17px;
    line-height: 23px;
  }
}
@media screen and (min-width: 708px) {
  html > body {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (min-width: 726px) {
  html > body {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (min-width: 744px) {
  html > body {
    font-size: 19px;
    line-height: 25px;
  }
}
@media screen and (min-width: 762px) {
  html > body {
    font-size: 19px;
    line-height: 25px;
  }
}
@media screen and (min-width: 780px) {
  html > body {
    font-size: 15px;
    line-height: 20px;
  }
}
@media screen and (min-width: 798px) {
  html > body {
    font-size: 15px;
    line-height: 20px;
  }
}
@media screen and (min-width: 816px) {
  html > body {
    font-size: 15px;
    line-height: 20px;
  }
}
@media screen and (min-width: 834px) {
  html > body {
    font-size: 16px;
    line-height: 21px;
  }
}
@media screen and (min-width: 852px) {
  html > body {
    font-size: 16px;
    line-height: 21px;
  }
}
@media screen and (min-width: 870px) {
  html > body {
    font-size: 16px;
    line-height: 22px;
  }
}
@media screen and (min-width: 888px) {
  html > body {
    font-size: 17px;
    line-height: 22px;
  }
}
@media screen and (min-width: 906px) {
  html > body {
    font-size: 17px;
    line-height: 23px;
  }
}
@media screen and (min-width: 924px) {
  html > body {
    font-size: 17px;
    line-height: 23px;
  }
}
@media screen and (min-width: 942px) {
  html > body {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (min-width: 960px) {
  html > body {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (min-width: 978px) {
  html > body {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (min-width: 996px) {
  html > body {
    font-size: 19px;
    line-height: 25px;
  }
}
@media screen and (min-width: 1014px) {
  html > body {
    font-size: 19px;
    line-height: 25px;
  }
}
@media screen and (min-width: 1032px) {
  html > body {
    font-size: 19px;
    line-height: 26px;
  }
}
@media screen and (min-width: 1050px) {
  html > body {
    font-size: 20px;
    line-height: 26px;
  }
}
@media screen and (min-width: 1068px) {
  html > body {
    font-size: 20px;
    line-height: 27px;
  }
}
@media screen and (min-width: 1086px) {
  html > body {
    font-size: 20px;
    line-height: 27px;
  }
}
@media screen and (min-width: 1104px) {
  html > body {
    font-size: 21px;
    line-height: 28px;
  }
}
@media screen and (min-width: 1122px) {
  html > body {
    font-size: 21px;
    line-height: 28px;
  }
}
@media screen and (min-width: 1140px) {
  html > body {
    font-size: 21px;
    line-height: 29px;
  }
}
@media screen and (min-width: 1158px) {
  html > body {
    font-size: 22px;
    line-height: 29px;
  }
}
@media screen and (min-width: 1176px) {
  html > body {
    font-size: 22px;
    line-height: 29px;
  }
}
@media screen and (min-width: 1194px) {
  html > body {
    font-size: 22px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1212px) {
  html > body {
    font-size: 23px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1230px) {
  html > body {
    font-size: 23px;
    line-height: 31px;
  }
}
@media screen and (min-width: 1248px) {
  html > body {
    font-size: 23px;
    line-height: 31px;
  }
}
@media screen and (min-width: 1266px) {
  html > body {
    font-size: 24px;
    line-height: 32px;
  }
}
@media screen and (min-width: 1284px) {
  html > body {
    font-size: 24px;
    line-height: 32px;
  }
}
@media screen and (min-width: 1302px) {
  html > body {
    font-size: 24px;
    line-height: 33px;
  }
}
@media screen and (min-width: 1320px) {
  html > body {
    font-size: 25px;
    line-height: 33px;
  }
}
@media screen and (min-width: 1338px) {
  html > body {
    font-size: 25px;
    line-height: 33px;
  }
}
@media screen and (min-width: 1356px) {
  html > body {
    font-size: 25px;
    line-height: 34px;
  }
}
@media screen and (min-width: 1374px) {
  html > body {
    font-size: 26px;
    line-height: 34px;
  }
}
@media screen and (min-width: 1392px) {
  html > body {
    font-size: 26px;
    line-height: 35px;
  }
}
@media screen and (min-width: 1410px) {
  html > body {
    font-size: 26px;
    line-height: 35px;
  }
}
@media screen and (min-width: 1428px) {
  html > body {
    font-size: 27px;
    line-height: 36px;
  }
}
@media screen and (min-width: 1446px) {
  html > body {
    font-size: 27px;
    line-height: 36px;
  }
}
@media screen and (min-width: 1464px) {
  html > body {
    font-size: 27px;
    line-height: 37px;
  }
}
@media screen and (min-width: 1482px) {
  html > body {
    font-size: 28px;
    line-height: 37px;
  }
}
@media screen and (min-width: 1500px) {
  html > body {
    font-size: 28px;
    line-height: 38px;
  }
}
@media screen and (min-width: 1518px) {
  html > body {
    font-size: 28px;
    line-height: 38px;
  }
}
@media screen and (min-width: 1536px) {
  html > body {
    font-size: 29px;
    line-height: 38px;
  }
}
@media screen and (min-width: 1554px) {
  html > body {
    font-size: 29px;
    line-height: 39px;
  }
}
@media screen and (min-width: 1572px) {
  html > body {
    font-size: 29px;
    line-height: 39px;
  }
}
@media screen and (min-width: 1590px) {
  html > body {
    font-size: 30px;
    line-height: 40px;
  }
}
@media screen and (min-width: 1608px) {
  html > body {
    font-size: 30px;
    line-height: 40px;
  }
}
@media screen and (min-width: 1626px) {
  html > body {
    font-size: 30px;
    line-height: 41px;
  }
}
@media screen and (min-width: 1644px) {
  html > body {
    font-size: 31px;
    line-height: 41px;
  }
}
@media screen and (min-width: 1662px) {
  html > body {
    font-size: 31px;
    line-height: 42px;
  }
}
@media screen and (min-width: 1680px) {
  html > body {
    font-size: 32px;
    line-height: 42px;
  }
}
@media screen and (min-width: 1698px) {
  html > body {
    font-size: 32px;
    line-height: 42px;
  }
}
@media screen and (min-width: 1716px) {
  html > body {
    font-size: 32px;
    line-height: 43px;
  }
}
@media screen and (min-width: 1734px) {
  html > body {
    font-size: 32px;
    line-height: 43px;
  }
}
@media screen and (min-width: 1752px) {
  html > body {
    font-size: 33px;
    line-height: 44px;
  }
}
@media screen and (min-width: 1770px) {
  html > body {
    font-size: 33px;
    line-height: 44px;
  }
}
@media screen and (min-width: 1788px) {
  html > body {
    font-size: 34px;
    line-height: 45px;
  }
}
@media screen and (min-width: 1806px) {
  html > body {
    font-size: 34px;
    line-height: 45px;
  }
}
@media screen and (min-width: 1824px) {
  html > body {
    font-size: 34px;
    line-height: 46px;
  }
}
@media screen and (min-width: 1842px) {
  html > body {
    font-size: 35px;
    line-height: 46px;
  }
}
@media screen and (min-width: 1860px) {
  html > body {
    font-size: 35px;
    line-height: 47px;
  }
}
@media screen and (min-width: 1878px) {
  html > body {
    font-size: 35px;
    line-height: 47px;
  }
}
@media screen and (min-width: 1896px) {
  html > body {
    font-size: 36px;
    line-height: 47px;
  }
}
@media screen and (min-width: 1914px) {
  html > body {
    font-size: 36px;
    line-height: 48px;
  }
}
@media screen and (min-width: 1932px) {
  html > body {
    font-size: 36px;
    line-height: 48px;
  }
}
@media screen and (min-width: 1950px) {
  html > body {
    font-size: 37px;
    line-height: 49px;
  }
}
@media screen and (min-width: 1968px) {
  html > body {
    font-size: 37px;
    line-height: 49px;
  }
}
@media screen and (min-width: 1986px) {
  html > body {
    font-size: 37px;
    line-height: 50px;
  }
}
@media screen and (min-width: 2004px) {
  html > body {
    font-size: 38px;
    line-height: 50px;
  }
}
@media screen and (min-width: 2022px) {
  html > body {
    font-size: 38px;
    line-height: 51px;
  }
}
@media screen and (min-width: 2040px) {
  html > body {
    font-size: 38px;
    line-height: 51px;
  }
}


/* ----- Not working due to a possible bug in the @media directive.

$base_width: 960px;
$base_column_width: $base_width / 4;
$font_size: 18px;
$line_height: 24px;

// Step down to the smallest width supported.
$current_width: $base_width;
@while $current_width > 360 {
  $current_width: $current_width - $font_size;
}
// Step up through the widest width supported.
@while $current_width < 2048 {
  $current_width: $current_width + $font_size;
  $columns: 4;
  @if ($current_width <= 512) { $columns: 2; }
  @if ($current_width > 512 and $current_width <= 768) { $columns: 3; }
  $column_width: $current_width / $columns;
  // SASS will not accept the $current_width variable and screws up on #{}
  @media screen and (min-width: $current_width) {
    html > body {
      font-size: $column_width * $font_size / $base_column_width;
      line-height: $column_width * $line_height / $base_column_width;
    }
  }
}

   ----- Not working due to a possible bug in the @media directive. */


/* Device adaptations --------------------------------------------------------------*/

// iPhone, portrait
@media screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation:portrait) {
  #page {
/*    font-size: 14px;
    line-height: 22px;
*/  }
}

// iPhone, landscape
@media screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation:landscape) {
  #page {
/*    font-size: 14px;
    line-height: 22px;
*/  }
}

// iPad, portrait
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  #page {
/*    font-size: 14px;
    line-height: 22px;
*/  }
}

// iPad, landscape
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  #page {
/*    font-size: 14px;
    line-height: 22px;
*/  }
}
