%p Hello from Brave New Media.

.rack
  .section
    #A.mount.square
      .tile.portrait
        %img{ :src => '/images/square-test/1x2.jpg' }
      .tile.portrait
        %img{ :src => '/images/square-test/1x2.jpg' }
    #B.mount.flexible
      .tile.square
        %img{ :src => '/images/square-test/1x1.jpg' }
      .tile.square
        %img{ :src => '/images/square-test/1x1.jpg' }
  .section
    #C.mount.flexible
      .tile.square
        %img{ :src => '/images/square-test/1x1.jpg' }
      .tile.square
        %img{ :src => '/images/square-test/1x1.jpg' }
    #D.mount.square
      .tile.landscape
        %img{ :src => '/images/square-test/2x1.jpg' }
      .tile.landscape
        %img{ :src => '/images/square-test/2x1.jpg' }

- content_for :footer do
  Atom logo credit: http://commons.wikimedia.org/wiki/File:Atom_of_Atheism-Zanaq.svg