%p Hello from Brave New Media.

%ul
  %li.portrait
    %img{ :src => '/images/square-test/1x2.jpg' }
  %li.portrait
    %img{ :src => '/images/square-test/1x2.jpg' }
  %li.square
    %img{ :src => '/images/square-test/1x1.jpg' }
  %li.square
    %img{ :src => '/images/square-test/1x1.jpg' }
  %li.square
    %img{ :src => '/images/square-test/1x1.jpg' }
  %li.square
    %img{ :src => '/images/square-test/1x1.jpg' }
  %li.landscape
    %img{ :src => '/images/square-test/2x1.jpg' }
  %li.landscape
    %img{ :src => '/images/square-test/2x1.jpg' }
  
- content_for :footer do
  Atom logo credit: http://commons.wikimedia.org/wiki/File:Atom_of_Atheism-Zanaq.svg