%p Hello from Brave New Media.

.rack
  .section
    #A.mount.square
      .tile.portrait
        %img.has512{ :src => '/images/square-test/1x2.jpg' }
      .tile.portrait
        %img.has512{ :src => '/images/square-test/1x2.jpg' }
    #B.mount.flexible
      .tile.square
        %img.has512{ :src => '/images/square-test/1x1.jpg' }
      .tile.square
        %img.has512{ :src => '/images/square-test/1x1.jpg' }
  .section
    #C.mount.flexible
      .tile.square
        %img.has512{ :src => '/images/square-test/1x1.jpg' }
      .tile.square
        %img.has512{ :src => '/images/square-test/1x1.jpg' }
    #D.mount.square
      .tile.landscape
        %img.has512{ :src => '/images/square-test/2x1.jpg' }
      .tile.landscape
        %img.has512{ :src => '/images/square-test/2x1.jpg' }

.rack
  .section
    #A.mount.square
      .tile.portrait
        %img.has512{ :src => '/images/square-test/1x2.jpg' }
      .tile.portrait
        %img.has512{ :src => '/images/square-test/1x2.jpg' }
    #B.mount.flexible
      .tile.square
        %img.has512{ :src => '/images/square-test/1x1.jpg' }
      .tile.square
        %img.has512{ :src => '/images/square-test/1x1.jpg' }
  .section
    #C.mount.flexible
      .tile.square
        %img.has512{ :src => '/images/square-test/1x1.jpg' }
      .tile.square
        %img.has512{ :src => '/images/square-test/1x1.jpg' }
    #D.mount.square
      .tile.landscape
        %img.has512{ :src => '/images/square-test/2x1.jpg' }
      .tile.landscape
        %img.has512{ :src => '/images/square-test/2x1.jpg' }

.rack
  .section
    #A.mount.square
      .tile.portrait
        %img.spacer-1-2{ :src => '/images/spacers/1x2.gif' }
        %p
          <b>A HEADLINE</b>
          Lorem ipsum dolor sit amet, <b>maintaining a</b> consectetur adipiscing elit. Suspendisse tristique tortor eu lectus posuere sed lobortis lacus dignissim. Ut eu urna lorem, nec lobortis tortor. Aliquam erat volutpat. <b>Nulla suscipit scelerisque felis, vitae pretium nulla semper non.</b> Donec molestie, tortor ut adipiscing venenatis, velit enim imperdiet tellus, vel euismod urna nibh vel urna. Integer viverra pellentesque imperdiet. In imperdiet neque velit. Pellentesque gravida lacinia orci, sit amet imperdiet arcu porta a. Morbi luctus nulla non odio rutrum auctor. Sed lacinia hendrerit ligula id congue. Mauris cursus placerat nisi, eget auctor orci dapibus non. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas id magna sit amet justo eleifend posuere. Phasellus scelerisque auctor congue. Praesent tempus, magna vitae tempus cursus, nunc dui ultricies metus, commodo mattis neque nisl ut erat.
      .tile.portrait
        %img.spacer-1-2{ :src => '/images/spacers/1x2.gif' }
        %p
          <b>STAYS ALIGNED</b>
          Nunc non est massa, sit amet <b>vertical rhythm</b> vulputate turpis. Donec semper dignissim convallis. Nullam in lectus nec mi accumsan fermentum. Ut suscipit lacus vel nulla pulvinar vitae euismod ante vulputate. Aenean augue sem, pulvinar quis posuere ac, sollicitudin malesuada massa. Suspendisse nec enim dui, eget ullamcorper diam. <b>Mauris rhoncus leo eget nisl adipiscing sed vehicula nulla vulputate.</b> Mauris eu dui at dolor elementum commodo ac eget elit. Vestibulum malesuada augue nec lacus feugiat vel pretium elit auctor. Fusce in velit et lorem congue ultrices vitae vel lorem. Nunc consectetur diam ac mauris bibendum dignissim. Morbi ac malesuada mauris. Morbi venenatis massa posuere nibh luctus bibendum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu gravida sem. Cras cursus lectus eu neque consectetur eu luctus sem pellentesque. Etiam faucibus molestie sapien ac luctus. Vivamus malesuada leo sed erat venenatis eget fringilla turpis aliquam.
    #B.mount.flexible
      .tile.square
        %img.has512{ :src => '/images/square-test/1x1.jpg' }
      .tile.square
        %img.has512{ :src => '/images/square-test/1x1.jpg' }
  .section
    #C.mount.flexible
      .tile.square
        %img.has512{ :src => '/images/square-test/1x1.jpg' }
      .tile.square
        %img.has512{ :src => '/images/square-test/1x1.jpg' }
    #D.mount.square
      .tile.landscape
        %img{ :src => '/images/square-test/2x1.jpg' }
      .tile.landscape
        %img{ :src => '/images/square-test/2x1.jpg' }

- content_for :footer do
  Atom logo credit: http://commons.wikimedia.org/wiki/File:Atom_of_Atheism-Zanaq.svg