%img.stretch.spacer-1-2{ :src => '/images/spacers/1x2.gif' }
.copy
  %p.headline
    Post your flyer<br/>
    (It's FREE!)
  %ul#footer
    %li
      A Brave New Media publication
    %li
      Built by Endymion
    %li
      Copyright &copy; #{ Time.now.year } Brave New Media
  / Atom logo credit: http://commons.wikimedia.org/wiki/File:Atom_of_Atheism-Zanaq.svg