%img.stretch.spacer-1-1{ :src => '/images/spacers/1x1.gif' }
.copy.bottom
  %ul
    %li
      &copy; #{ Time.now.year } #{ link_to 'Brave New Media', 'http://brave-new-media.com' }
    %li
      Report copyright violations
    %li
      DMCA registered agent
    %li
      Terms Of Service
    %li
      Privacy
    / %li
    /   Powered by Ink Slinger &reg;
    / %li
    /   Built by Endymion Corporation
  / Atom logo credit: http://commons.wikimedia.org/wiki/File:Atom_of_Atheism-Zanaq.svg