= image_tag '/images/spacers/2x1.gif', :class => 'stretch spacer-2-1'
.copy.top
  = image_tag "/images/brands/#{@current_brand.asset_name}/header/t_1.gif", :class   => 'stretch has512'
  #post-your-event
    #ad
      Post your
      %br
      event here
      %br
      (free)
  #authentication-box
.copy.bottom
  #section_navigation
    %ul
      %li
        = link_to 'News', root_path
      %li
        Calendar
      %li
        Forums